body{
    background: url('../images/background.jpg');
    background-repeat:no-repeat;
    background-size: 100%;     
}
#heading{
    background: #bdc3c7
}
.signup-signin-btn{
    margin-top: 5px;
    text-align: right;
}
.button-container-div{
    align-items: center;
    vertical-align: middle
}
.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
